IRM-Compliance-Alerts-Connector
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Audit_General-Var": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AuditGeneral",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/2006d214-5f91-4166-8d92-95f5e3ad9ec6/activity/feed/subscriptions/content?contentType=Audit.General&PublisherIdentifier=Microsoft"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "For_each": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://manage.office.com",
                                "clientId": "f51bf479-f00f-4a74-955e-e2d5a8981214",
                                "secret": "8I2b-p2O2-3Nm02.V7QJI_dxvH-2.v7~q0",
                                "tenant": "2006d214-5f91-4166-8d92-95f5e3ad9ec6",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "@items('For_each')['contentUri']"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Send_Data": {
                        "inputs": {
                            "body": "@{body('HTTP')}",
                            "headers": {
                                "Log-Type": "Compliance_IRM_AuditGeneral"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/logs"
                        },
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Parse_JSON')",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP_-_Get_AuditGeneral": {
                "inputs": {
                    "authentication": {
                        "audience": "https://manage.office.com",
                        "clientId": "f51bf479-f00f-4a74-955e-e2d5a8981214",
                        "secret": "8I2b-p2O2-3Nm02.V7QJI_dxvH-2.v7~q0",
                        "tenant": "2006d214-5f91-4166-8d92-95f5e3ad9ec6",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "headers": {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@variables('AuditGeneral')"
                },
                "runAfter": {
                    "Audit_General-Var": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP_-_Get_AuditGeneral')",
                    "schema": {
                        "items": {
                            "properties": {
                                "contentCreated": {
                                    "type": "string"
                                },
                                "contentExpiration": {
                                    "type": "string"
                                },
                                "contentId": {
                                    "type": "string"
                                },
                                "contentType": {
                                    "type": "string"
                                },
                                "contentUri": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "contentUri",
                                "contentId",
                                "contentType",
                                "contentCreated",
                                "contentExpiration"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "HTTP_-_Get_AuditGeneral": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector": {
                    "connectionId": "/subscriptions/xxxxxx-xxxx-xxx-xxxx-xxxx/resourceGroups/hesaad-RG/providers/Microsoft.Web/connections/azureloganalyticsdatacollector-Get-M365ComplianceData",
                    "connectionName": "azureloganalyticsdatacollector-Get-M365ComplianceData",
                    "id": "/subscriptions/xxxxxx-xxxx-xxx-xxxx-xxxx/providers/Microsoft.Web/locations/eastus/managedApis/azureloganalyticsdatacollector"
                }
            }
        }
    }
}
