MCAS_Activity_Playbook
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP_-_MCAS_Activities_API": {
                "inputs": {
                    "headers": {
                        "Authorization": "@variables('MCAS_API_Token')"
                    },
                    "method": "GET",
                    "uri": "https://m365x933168.eu2.portal.cloudappsecurity.com/api/v1/activities/"
                },
                "runAfter": {
                    "MCAS_API_Token_-_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "MCAS_API_Token_-_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MCAS_API_Token",
                            "type": "string",
                            "value": "Token QhwZGXXXXXXXXXaS05fXXXXXXXXGx8dSR4aHExNF0lLHB9XXXXXXXXXkxLFXXXXXXXXXXXXXXX"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Parse_JSON_-_MCAS_Activities": {
                "inputs": {
                    "content": "@body('HTTP_-_MCAS_Activities_API')",
                    "schema": {
                        "properties": {
                            "body": {
                                "properties": {
                                    "data": {
                                        "items": {
                                            "properties": {
                                                "_id": {
                                                    "type": "string"
                                                },
                                                "aadTenantId": {
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "type": "integer"
                                                },
                                                "appName": {
                                                    "type": "string"
                                                },
                                                "classifications": {
                                                    "type": "array"
                                                },
                                                "collected": {
                                                    "properties": {
                                                        "o365": {
                                                            "properties": {
                                                                "blobCreated": {
                                                                    "type": "string"
                                                                },
                                                                "blobId": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "confidenceLevel": {
                                                    "type": "integer"
                                                },
                                                "created": {
                                                    "type": "integer"
                                                },
                                                "createdRaw": {
                                                    "type": "integer"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "description_id": {
                                                    "type": "string"
                                                },
                                                "description_metadata": {
                                                    "properties": {
                                                        "colon": {
                                                            "type": "string"
                                                        },
                                                        "dash": {
                                                            "type": "string"
                                                        },
                                                        "operation_name": {
                                                            "type": "string"
                                                        },
                                                        "target_object": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "device": {
                                                    "properties": {},
                                                    "type": "object"
                                                },
                                                "entityData": {
                                                    "properties": {
                                                        "0": {
                                                            "properties": {
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "inst": {
                                                                            "type": "integer"
                                                                        },
                                                                        "saas": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "resolved": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "1": {},
                                                        "2": {
                                                            "properties": {
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "inst": {
                                                                            "type": "integer"
                                                                        },
                                                                        "saas": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "resolved": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "eventRouting": {
                                                    "properties": {
                                                        "auditing": {
                                                            "type": "boolean"
                                                        },
                                                        "lograbber": {
                                                            "type": "boolean"
                                                        },
                                                        "scubaUnpacker": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "eventType": {
                                                    "type": "integer"
                                                },
                                                "eventTypeName": {
                                                    "type": "string"
                                                },
                                                "eventTypeValue": {
                                                    "type": "string"
                                                },
                                                "genericEventType": {
                                                    "type": "string"
                                                },
                                                "instantiation": {
                                                    "type": "integer"
                                                },
                                                "instantiationRaw": {
                                                    "type": "integer"
                                                },
                                                "internals": {
                                                    "properties": {
                                                        "otherIPs": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "location": {
                                                    "properties": {
                                                        "anonymousProxy": {
                                                            "type": "boolean"
                                                        },
                                                        "category": {
                                                            "type": "integer"
                                                        },
                                                        "categoryValue": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "countryCode": {
                                                            "type": "string"
                                                        },
                                                        "ipTags": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "isSatelliteProvider": {
                                                            "type": "boolean"
                                                        },
                                                        "latitude": {
                                                            "type": "number"
                                                        },
                                                        "longitude": {
                                                            "type": "number"
                                                        },
                                                        "organizationSearchable": {
                                                            "type": "string"
                                                        },
                                                        "postalCode": {
                                                            "type": "string"
                                                        },
                                                        "region": {
                                                            "type": "string"
                                                        },
                                                        "regionCode": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lograbberService": {
                                                    "properties": {
                                                        "o365EventGrabber": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "mainInfo": {
                                                    "properties": {
                                                        "eventObjects": {
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "instanceId": {
                                                                        "type": "integer"
                                                                    },
                                                                    "link": {
                                                                        "type": "integer"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "objType": {
                                                                        "type": "integer"
                                                                    },
                                                                    "resolved": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "role": {
                                                                        "type": "integer"
                                                                    },
                                                                    "saasId": {
                                                                        "type": "integer"
                                                                    },
                                                                    "tags": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "objType",
                                                                    "role",
                                                                    "tags",
                                                                    "name",
                                                                    "instanceId",
                                                                    "resolved",
                                                                    "saasId",
                                                                    "link",
                                                                    "id"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "prettyOperationName": {
                                                            "type": "string"
                                                        },
                                                        "rawOperationName": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "rawDataJson": {
                                                    "properties": {
                                                        "AadAppId": {
                                                            "type": "string"
                                                        },
                                                        "CreationTime": {
                                                            "type": "string"
                                                        },
                                                        "DataType": {
                                                            "type": "string"
                                                        },
                                                        "Id": {
                                                            "type": "string"
                                                        },
                                                        "Operation": {
                                                            "type": "string"
                                                        },
                                                        "OrganizationId": {
                                                            "type": "string"
                                                        },
                                                        "RecordType": {
                                                            "type": "integer"
                                                        },
                                                        "RelativeUrl": {
                                                            "type": "string"
                                                        },
                                                        "ResultCount": {
                                                            "type": "string"
                                                        },
                                                        "UserId": {
                                                            "type": "string"
                                                        },
                                                        "UserKey": {
                                                            "type": "string"
                                                        },
                                                        "UserType": {
                                                            "type": "integer"
                                                        },
                                                        "Version": {
                                                            "type": "integer"
                                                        },
                                                        "Workload": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resolvedActor": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "instanceId": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "objType": {
                                                            "type": "string"
                                                        },
                                                        "resolved": {
                                                            "type": "boolean"
                                                        },
                                                        "role": {
                                                            "type": "string"
                                                        },
                                                        "saasId": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resolvedActorAccount": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "instanceId": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "resolved": {
                                                            "type": "boolean"
                                                        },
                                                        "role": {
                                                            "type": "string"
                                                        },
                                                        "saasId": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "saasId": {
                                                    "type": "integer"
                                                },
                                                "severity": {
                                                    "type": "string"
                                                },
                                                "source": {
                                                    "type": "integer"
                                                },
                                                "srcAppId": {
                                                    "type": "integer"
                                                },
                                                "tenantId": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "integer"
                                                },
                                                "timestampRaw": {
                                                    "type": "integer"
                                                },
                                                "uid": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "userName": {
                                                            "type": "string"
                                                        },
                                                        "userTags": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "_id",
                                                "tenantId",
                                                "aadTenantId",
                                                "appId",
                                                "saasId",
                                                "timestamp",
                                                "timestampRaw",
                                                "instantiation",
                                                "instantiationRaw",
                                                "created",
                                                "createdRaw",
                                                "eventType",
                                                "eventTypeValue",
                                                "eventRouting",
                                                "mainInfo",
                                                "confidenceLevel",
                                                "source",
                                                "lograbberService",
                                                "srcAppId",
                                                "collected",
                                                "rawDataJson",
                                                "resolvedActor",
                                                "uid",
                                                "appName",
                                                "eventTypeName",
                                                "classifications",
                                                "entityData",
                                                "description_id",
                                                "description_metadata",
                                                "description",
                                                "genericEventType",
                                                "device",
                                                "severity"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "hasNext": {
                                        "type": "boolean"
                                    },
                                    "total": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "headers": {
                                "properties": {
                                    "Allow": {
                                        "type": "string"
                                    },
                                    "Cache-Control": {
                                        "type": "string"
                                    },
                                    "Connection": {
                                        "type": "string"
                                    },
                                    "Content-Length": {
                                        "type": "string"
                                    },
                                    "Content-Security-Policy": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Date": {
                                        "type": "string"
                                    },
                                    "Server": {
                                        "type": "string"
                                    },
                                    "Set-Cookie": {
                                        "type": "string"
                                    },
                                    "Transfer-Encoding": {
                                        "type": "string"
                                    },
                                    "Vary": {
                                        "type": "string"
                                    },
                                    "request_id": {
                                        "type": "string"
                                    },
                                    "strict-transport-security": {
                                        "type": "string"
                                    },
                                    "x-content-type-options": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "statusCode": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP_-_MCAS_Activities_API": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Send_Data_-_MCAS_Activities": {
                "inputs": {
                    "body": "@{body('HTTP_-_MCAS_Activities_API')}",
                    "headers": {
                        "Log-Type": "MCAS_Activity"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/api/logs"
                },
                "runAfter": {
                    "Parse_JSON_-_MCAS_Activities": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector": {
                    "connectionId": "/subscriptions/6a0XXXXe-5XX8-441e-XXCC-XXXXe1f4a84/resourceGroups/hesaad-csgRG/providers/Microsoft.Web/connections/azureloganalyticsdatacollector-Get-O365Data",
                    "connectionName": "azureloganalyticsdatacollector-Get-O365Data",
                    "id": "/subscriptions/6a0XXXXe-5XX8-441e-XXCC-XXXXe1f4a84/providers/Microsoft.Web/locations/eastus/managedApis/azureloganalyticsdatacollector"
                }
            }
        }
    }
}
