Multi-Tenants_O365AAD_Playbook
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Audit.AzureActiveDirectory-Var": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AAD",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/@{variables('ChildTenantID')}/activity/feed/subscriptions/content?contentType=Audit.AzureActiveDirectory&PublisherIdentifier=Microsoft"
                        }
                    ]
                },
                "runAfter": {
                    "Audit.General-Var": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Audit.General-Var": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AuditGeneral",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/@{variables('ChildTenantID')}/activity/feed/subscriptions/content?contentType=Audit.General&PublisherIdentifier=Microsoft"
                        }
                    ]
                },
                "runAfter": {
                    "Child-Tenant_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Child-Tenant_ID": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ChildTenantID",
                            "type": "string",
                            "value": "2006d214-5f91-4166-8d92-95f5e3ad9ec6"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "DLP-Var": {
                "inputs": {
                    "variables": [
                        {
                            "name": "DLP",
                            "type": "string",
                            "value": "https://manage.office.com/api/v1.0/@{variables('ChildTenantID')}/activity/feed/subscriptions/content?contentType=DLP.ALL&PublisherIdentifier=Microsoft"
                        }
                    ]
                },
                "runAfter": {
                    "Audit.AzureActiveDirectory-Var": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "For_each_-O365API": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://manage.office.com",
                                "clientId": "bfXXf066-f5c2-4a40-90b0-bc6XXb7304",
                                "secret": "<SecretKey>",
                                "tenant": "2XXX4-5f91-4166-XX92-95fXXXc6",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "uri": "@items('For_each_-O365API')['contentUri']"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Send_Data": {
                        "inputs": {
                            "body": "@{json(body('HTTP'))}",
                            "headers": {
                                "Log-Type": "ChildO365AAD"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/logs"
                        },
                        "runAfter": {
                            "HTTP": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Parse_JSON_-_O365API')",
                "runAfter": {
                    "Parse_JSON_-GraphAPI": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP_-_GraphAPI": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "clientId": "bXXX66-XXc2-XX40-90b0-bcXXX7304",
                        "secret": "<SecretKey>",
                        "tenant": "200XX4-XX91-4XX-XX92-95XXd9ec6",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "@variables('Sign-Ins')"
                },
                "runAfter": {
                    "HTTP__-_Get_Logs-O365API": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "HTTP__-_Get_Logs-O365API": {
                "inputs": {
                    "authentication": {
                        "audience": "https://manage.office.com",
                        "clientId": "bfXXX66-f5c2-XX0-9XX0-bXXX4",
                        "secret": "<SecretKey>",
                        "tenant": "20XXX14-5f91-XX66-8XX-95XXXc6",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "headers": {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@variables('AAD')"
                },
                "runAfter": {
                    "User_Activities-Var": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON_-GraphAPI": {
                "inputs": {
                    "content": "@body('HTTP_-_GraphAPI')",
                    "schema": {
                        "properties": {
                            "body": {
                                "properties": {
                                    "@@odata.context": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "items": {
                                            "properties": {
                                                "appDisplayName": {
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "type": "string"
                                                },
                                                "appliedConditionalAccessPolicies": {
                                                    "type": "array"
                                                },
                                                "clientAppUsed": {},
                                                "conditionalAccessStatus": {
                                                    "type": "string"
                                                },
                                                "correlationId": {
                                                    "type": "string"
                                                },
                                                "createdDateTime": {
                                                    "type": "string"
                                                },
                                                "deviceDetail": {
                                                    "properties": {
                                                        "browser": {
                                                            "type": "string"
                                                        },
                                                        "deviceId": {
                                                            "type": "string"
                                                        },
                                                        "displayName": {},
                                                        "isCompliant": {},
                                                        "isManaged": {},
                                                        "operatingSystem": {
                                                            "type": "string"
                                                        },
                                                        "trustType": {}
                                                    },
                                                    "type": "object"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "ipAddress": {
                                                    "type": "string"
                                                },
                                                "isInteractive": {
                                                    "type": "boolean"
                                                },
                                                "location": {
                                                    "properties": {
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "countryOrRegion": {
                                                            "type": "string"
                                                        },
                                                        "geoCoordinates": {
                                                            "properties": {
                                                                "altitude": {},
                                                                "latitude": {
                                                                    "type": "number"
                                                                },
                                                                "longitude": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "state": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resourceDisplayName": {
                                                    "type": "string"
                                                },
                                                "resourceId": {
                                                    "type": "string"
                                                },
                                                "riskDetail": {
                                                    "type": "string"
                                                },
                                                "riskEventTypes": {
                                                    "type": "array"
                                                },
                                                "riskEventTypes_v2": {
                                                    "type": "array"
                                                },
                                                "riskLevelAggregated": {
                                                    "type": "string"
                                                },
                                                "riskLevelDuringSignIn": {
                                                    "type": "string"
                                                },
                                                "riskState": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "properties": {
                                                        "additionalDetails": {},
                                                        "errorCode": {
                                                            "type": "integer"
                                                        },
                                                        "failureReason": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "userDisplayName": {
                                                    "type": "string"
                                                },
                                                "userId": {
                                                    "type": "string"
                                                },
                                                "userPrincipalName": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "createdDateTime",
                                                "userDisplayName",
                                                "userPrincipalName",
                                                "userId",
                                                "appId",
                                                "appDisplayName",
                                                "ipAddress",
                                                "clientAppUsed",
                                                "correlationId",
                                                "conditionalAccessStatus",
                                                "isInteractive",
                                                "riskDetail",
                                                "riskLevelAggregated",
                                                "riskLevelDuringSignIn",
                                                "riskState",
                                                "riskEventTypes",
                                                "riskEventTypes_v2",
                                                "resourceDisplayName",
                                                "resourceId",
                                                "status",
                                                "deviceDetail",
                                                "location",
                                                "appliedConditionalAccessPolicies"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            },
                            "headers": {
                                "properties": {
                                    "Cache-Control": {
                                        "type": "string"
                                    },
                                    "Content-Length": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Date": {
                                        "type": "string"
                                    },
                                    "OData-Version": {
                                        "type": "string"
                                    },
                                    "Strict-Transport-Security": {
                                        "type": "string"
                                    },
                                    "Vary": {
                                        "type": "string"
                                    },
                                    "client-request-id": {
                                        "type": "string"
                                    },
                                    "request-id": {
                                        "type": "string"
                                    },
                                    "x-ms-ags-diagnostic": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "statusCode": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Parse_JSON_-_O365API": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Parse_JSON_-_O365API": {
                "inputs": {
                    "content": "@body('HTTP__-_Get_Logs-O365API')",
                    "schema": {
                        "items": {
                            "properties": {
                                "contentCreated": {
                                    "type": "string"
                                },
                                "contentExpiration": {
                                    "type": "string"
                                },
                                "contentId": {
                                    "type": "string"
                                },
                                "contentType": {
                                    "type": "string"
                                },
                                "contentUri": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "contentType",
                                "contentId",
                                "contentUri",
                                "contentCreated",
                                "contentExpiration"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "HTTP_-_GraphAPI": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Send_Data_-GraphAPI": {
                "inputs": {
                    "body": "@{body('HTTP_-_GraphAPI')}",
                    "headers": {
                        "Log-Type": "ChildAADSignIn"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureloganalyticsdatacollector_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/api/logs"
                },
                "runAfter": {
                    "For_each_-O365API": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "User_Activities-Var": {
                "inputs": {
                    "variables": [
                        {
                            "name": "UserActivities",
                            "type": "string",
                            "value": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits"
                        }
                    ]
                },
                "runAfter": {
                    "User_SignIns-_Var": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "User_SignIns-_Var": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Sign-Ins",
                            "type": "string",
                            "value": "https://graph.microsoft.com/v1.0/auditLogs/signIns"
                        }
                    ]
                },
                "runAfter": {
                    "DLP-Var": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 5
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector_1": {
                    "connectionId": "/subscriptions/8XXX5-a75b-XXc-9XXX9c-89XXXf45/resourceGroups/AzurePassRG/providers/Microsoft.Web/connections/",
                    "connectionName": "azureloganalyticsdatacollector-Get-O365Data",
                    "id": "/subscriptions/8XXX5-a75b-XXc-9XXX9c-89XXXf45/providers/Microsoft.Web/locations/westeurope/managedApis/azureloganalyticsdatacollector"
                }
            }
        }
    }
}
